AWS_ACCESS_KEY_ID=''
AWS_SECRET_ACCESS_KEY=''
AWS_STORAGE_BUCKET_NAME=''
AWS_S3_REGION_NAME=''
DJANGO_SECRET_KEY=''
DB_PG_ENGINE=""
DB_PG_NAME=""
DB_PG_USER=""
DB_PG_PASSWORD=""
DB_PG_HOST=""
DB_PG_PORT=<port>
CORS_ALLOWED_ORIGINS="<url 1>,<url 2>,<url 3> ..."